.hd-button {

  --hd-button-primary-1: hsl(215, 100%, 60%);
  --hd-button-primary-2: hsl(215, 100%, 55%);
  --hd-button-primary-3: hsl(215, 100%, 50%);
  --hd-button-success-1: hsl(120, 60%, 40%);
  --hd-button-success-2: hsl(120, 60%, 35%);
  --hd-button-success-3: hsl(120, 60%, 30%);
  --hd-button-warning-1: hsl(20, 100%, 55%);
  --hd-button-warning-2: hsl(20, 100%, 50%);
  --hd-button-warning-3: hsl(20, 100%, 45%);
  --hd-button-danger-1: hsl(2, 85%, 55%);
  --hd-button-danger-2: hsl(2, 90%, 45%);
  --hd-button-danger-3: hsl(2, 95%, 35%);
  --hd-button-text-color: var(--hd-text-color-white);
  position: relative;
  overflow: hidden;
  border: var(--hd-button-border, 1px solid #e6e2fa);
  border-radius: var(--hd-button-radius, 4px);
  background-color: var(--hd-button-bgColor, #fff);
  padding: var(--hd-button-p, 8px 14px);
  cursor: var(--hd-button-cursor, pointer);
  transition: .3s all;
  box-sizing: border-box;
  &:not(.disabled):hover {
    background-color: var(--hd-button-hover-bgColor, #f1f5f9);
  }
  &:not(.disabled):active {
    background-color: var(--hd-button-active-bgColor, #e2ecf7);
  }

  &.plain {
    border-color: transparent;
  }

  // 动画
  &.animation {
    &:not(.disabled):active {
      background-color: var(--hd-button-hover-bgColor, #f1f5f9);
    }
    .hd-button-point {
      position: absolute;
      border-radius: 50%;
      background-color: var(--hd-button-active-bgColor, #e2ecf7);
      animation: enlarge 1s linear forwards;
      transition: .3s all;
      transform: translate(-50%, -50%);
      &.del {
        background-color: transparent;
      }
    }
    .hd-text {
      position: relative;
      z-index: 10;
    }
  }

  // 禁用
  &.disabled {
    --hd-button-cursor: not-allowed;
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: rgba($color: #fff, $alpha: .4);
      z-index: 20;
    }
  }
  
  &.primary {
    &:not(.plain) {
      color: var(--hd-button-text-color);
      --hd-button-bgColor: var(--hd-button-primary-1);
      --hd-button-hover-bgColor: var(--hd-button-primary-2);
      --hd-button-active-bgColor: var(--hd-button-primary-3);
    }
    &.plain {
      color: var(--hd-button-primary-1);
      border-color: var(--hd-button-primary-1);
      &:hover {
        color: var(--hd-button-primary-2);
        border-color: var(--hd-button-primary-2);
      }
      &:active {
        color: var(--hd-button-primary-3);
        border-color: var(--hd-button-primary-3);
      }
    }
  }
  &.success {
    &:not(.plain) {
      color: var(--hd-button-text-color);
      --hd-button-bgColor: var(--hd-button-success-1);
      --hd-button-hover-bgColor: var(--hd-button-success-2);
      --hd-button-active-bgColor: var(--hd-button-success-3);
    }
    &.plain {
      color: var(--hd-button-success-1);
      border-color: var(--hd-button-success-1);
      &:hover {
        color: var(--hd-button-success-2);
        border-color: var(--hd-button-success-2);
      }
      &:active {
        color: var(--hd-button-success-3);
        border-color: var(--hd-button-success-3);
      }
    }
  }
  &.warning {
    &:not(.plain) {
      color: var(--hd-button-text-color);
      --hd-button-bgColor: var(--hd-button-warning-1);
      --hd-button-hover-bgColor: var(--hd-button-warning-2);
      --hd-button-active-bgColor: var(--hd-button-warning-3);
    }
    &.plain {
      color: var(--hd-button-warning-1);
      border-color: var(--hd-button-warning-1);
      &:hover {
        color: var(--hd-button-warning-2);
        border-color: var(--hd-button-warning-2);
      }
      &:active {
        color: var(--hd-button-warning-3);
        border-color: var(--hd-button-warning-3);
      }
    }
  }
  &.danger {
    &:not(.plain) {
      color: var(--hd-button-text-color);
      --hd-button-bgColor: var(--hd-button-danger-1);
      --hd-button-hover-bgColor: var(--hd-button-danger-2);
      --hd-button-active-bgColor: var(--hd-button-danger-3);
    }
    &.plain {
      color: var(--hd-button-danger-1);
      border-color: var(--hd-button-danger-1);
      &:hover {
        color: var(--hd-button-danger-2);
        border-color: var(--hd-button-danger-2);
      }
      &:active {
        color: var(--hd-button-danger-3);
        border-color: var(--hd-button-danger-3);
      }
    }
  }
}

@keyframes enlarge {
  0% {
    width: 0px;
    height: 0px;
  }
  100% {
    width: 500px;
    height: 500px;
  }
}