.hd-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 200px;
  border-radius: 4px;
  padding: 0 6px;
  font-size: var(--hd-input-fs, 14px);
  box-sizing: border-box;
}
.hd-input__inner {
  padding: 0 4px;
  outline: none;
  height: 32px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  transition: all .3s;
  &:hover {
    border-color: #5aa2f0;
  }
  &:focus {
    border-color: blue;
    &~.hd-input-placeholder {
      top: 0;
      transform: translateY(-100%);
      font-size: 10px;
    }
  }
}
.hd-input-placeholder {
  position: absolute;
  left: 10px;
  color: var(--hd-input-placeholder-color, #9a9595);
  transition: all .2s;
}